/* Styles for single-select component */
@import '../../../styles/colors';

$accent-color: $bg-hover;

.ds-single-select {
  .btn.dropdown-toggle {
    background-color: $white;
    color: $black;
    border: 1px solid $border-light;
  }

  .dropdown-menu {
    min-width: 12rem;
  }

  .dropdown-item {
    &.active,
    &:active {
      background-color: $accent-color;
      color: black !important;
    }

    &:hover {
      background-color: $accent-color;
      color: black;
    }
  }

  /* make the selected value on the button use accent background and white text */
  .btn.selected {
    background-color: $accent-color;
    color: black;
    border-color: $accent-color;
  }
}
