@import '../../../styles/colors';

.card-container {
  border-radius: 10px;
  border: 1px solid $border-light;
  color: $text-light;
  padding: 1rem;
  &:hover {
    background-color: $bg-hover;
  }
}
