.card-container {
  background: linear-gradient(145deg, rgba(247, 99, 19, 0.897), rgba(247, 99, 19, 0.4));
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 1rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3),
              0 4px 10px rgba(0, 0, 0, 0.25);
}
