@import '../styles/colors';

.app-container {
  display: flex;
  width: 100%;
  height: 100%;

  @media (max-width: 600px) {
    flex-direction: column;
    .sidebar-left {
      width: 100%;
      height: 50%;
    }
  }
}
/* Right Side - Organization Chart */
.chart-area {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: $stone-50;

  app-chart-viewer {
    flex: 1;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
  }
}
