/* Styles for ds-search component */
.ds-search-wrapper {
  position: relative;
  width: fit-content;
}

.ds-search-input {
  padding-left: 1rem;
  padding-right: 2.5rem;
  height: 2.2rem;
  border-radius: 0.375rem;
  border: 2px solid #ff5a00;
  width: fit-content;
  &:focus {
    outline: none;
    border-color: #ff3d00;
  }
}

.ds-search-clear {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  color: #666;
}

.ds-search-clear:hover {
  color: #222;
  background: rgba(0, 0, 0, 0.04);
}
