@import '../../../styles/colors';

.ds-search-wrapper {
  display: flex;
  align-items: center;
  border: 2px solid $border-light;
  padding-left: 10px;
  border-radius: 5px;
  gap: 10px;
  height: 41px;
  .ds-search-input {
    border: none;
    outline: none;
    font-size: 1rem;
  }
  .hidden{
    opacity: 0;
  }
  .ds-search-clear{
    background: transparent;
    border: none;
    font-size: 1.1rem;
    color: $text-dark;
    cursor: pointer;
    &:hover {
      color: $black;
    }
  }
}
